/* imports */
/* fonts */
@import url('https://rsms.me/inter/inter.css');

/* variables */
:root{
    --inter-font-family: 'Inter', sans-serif;

    --gray-1: #EEEEEE;
    --gray-2: #DDDDDD;
    --gray-3: #CCCCCC;
    --gray-4: #AAAAAA;
}

/* defaults and resets */
html {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    scroll-padding: 100px;
    box-sizing: border-box;
}
@supports (font-variation-settings: normal) {
  html {
      font-family: 'Inter var', sans-serif;
    }
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
body, ul, ol, li, h1, h2, h3, h4, p{
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: var(--inter-font-family);
}
a[href]:empty::before {
    content: attr(href);
}
input[type="text"],
input[type="number"],
select,
textarea {
  font-size: 16px;
}
img{
    max-width: 100%;
    width: 100%;
}